%form{:action=>"/create", :method=>"POST"}
    %label{:for=>"POST-name"} Name:
    %input{:id=>"POST-name", :type=>"text", :name=>"name"}

    %label{:for=>"POST-planet"} Home Planet:
    %input{:id=>"POST-planet", :type=>"text", :name=>"planet"}

    %label{:for=>"POST-tagline"} Tagline:
    %input{:id=>"POST-tagline", :type=>"text", :name=>"tagline"}

    %label{:for=>"POST-superpower"} Superpower:
    %input{:id=>"POST-superpower", :type=>"text", :name=>"superpower"}

